<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__nav-list">
                <li class="main-header__nav-buttons"><a href="/">Add User</a></li>
                <li class="main-header__nav-buttons"><a href="/users">View User</a></li>
            </ul>
        </nav>
    </header>