<%- include('includes/head.ejs') %> 
</head>
<%- include('includes/nav.ejs') %> 
    <main>
        <div class="main__div">
            <p>Welcome to my new page, how are You?</p>
        </div>
    </main>
</body>
</html>