<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/view.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__nav-list">
                <li class="main-header__nav-buttons"><a href="/">Home</a></li>
                <li class="main-header__nav-buttons"><a href="/create">Add User</a></li>
                <li class="main-header__nav-buttons"><a class="active" href="/users">View User</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="main-div__users">
            <div class="main-div__heading">
                <p>All the users are displayed below</p>
            </div>
            <div>
                <ul class="main-div__user-list">
                    <li class="main-div__user">Shaktiman</li>
                    <li class="main-div__user">Superman</li>
                    <li class="main-div__user">Iron Man</li>
                    <li class="main-div__user">Hulk</li>
                    <li class="main-div__user">Captain America</li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>